/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #292929;
  height: 60px;
  padding: 20px;
}

.header h1 {
  color: white;
  font-size: 24px;
}

.user-content {
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.photo {
  padding: 0 10px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user-content2 p {
  margin-left: 215px;
}

a {
  text-decoration: none;
}

.user-content2 a {
  text-decoration: none;
  color: #292929;
}

li {
  text-decoration: none;
  list-style: none;
}

.user-post-list {
  text-decoration: none;
}

.list {
  border: 1px solid;
  width: 35%;
}

.show {
  margin-left: 215px;
}

.comment-content {
  border: 1px solid;
  width: 35%;
}
