.container {
  padding: 10px 4%;
}

.unorder-list {
  list-style: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 768px;
}

.list-items {
  border: 1px green solid;
  padding: 6px;
  margin: 6px 8px;
}

.list-profile {
  flex-basis: 0;
}

.list-desc {
  flex-grow: 1;
  height: 60px;
  padding-bottom: 0;
}

.list-content {
  flex-grow: 1;
}

.name-title a {
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  color: #000;
}

.post-title a {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: #000;
}

.profile_img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.quantity {
  text-align: right;
  font-size: 14px;
  color: blue;
}

.post-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.expand-link {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 768px;
}

form {
  max-width: 768px;
  margin: 8px;
  padding: 0;
}

.post_comment {
  display: flex;
  align-items: center;
  width: 98%;
  padding: 0;
  margin: 0;
}

.see-more {
  cursor: pointer;
  padding: 8px;
  background-color: transparent;
  border: #000 0.5px solid;
}

.see-more a {
  display: block;
  width: 100%;
  color: #000;
  text-decoration: none;
}

.submit-comment {
  flex-grow: 0;
}

.input-comment {
  flex-grow: 1;
}

.input-comment input {
  color: #666;
  padding: 0.75em;
  height: auto;
  width: 95%;
  box-shadow: none;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

.submit-comment input {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
}

.submit-comment a {
  display: inline-block;
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
  text-decoration: none;
}
